
body {

    font-weight: 500;
}

.indie-flower-regular {
    font-family: "Indie Flower", serif;
    font-weight: 500;
    font-style: normal;
  }




.merienda-thick {
    font-family: "Merienda", cursive;
    font-size: 1.9em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .merienda-thin {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-size: 1.2em;
    font-weight: 400;
    font-style: normal;
  }
  
  

  .photo-container {
    position: relative;
  }
  
  .photo-wrapper {
    position: relative;
    width: 100%; 
    aspect-ratio: 1 / 1; 
    overflow: hidden;
    border: 5px solid white; /* frame */
    border-radius: 10px; 
  }
  
  .photo {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    border-radius: 3%; 
    width: 40px; 
    height: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: none;
  }
  
  .delete-button ion-icon {
    font-size: 16px; /* smaller than button */
    color: white;
    z-index: 2;
  }

  .modal-content {
    padding: 20px;
    text-align: center;
  }
  
  .modal-content h2 {
    font-family: "Indie Flower", serif;
    font-weight: 700;
    letter-spacing: .1em;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .modal-content p {
    font-family: "Indie Flower", serif;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1em;
    color: #f1e9a9;
  }
  
  .modal-buttons ion-button {
    font-family: "Indie Flower", serif !important; 
    padding-top: 5px;
    font-weight: 400 !important;
    letter-spacing: 0.1em !important; 
    color: #333 !important; 
    text-transform: none !important;
    font-size: 16px !important; 
  }